h1{
    font-size: 50px;
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.conteudoDireito{
    height: 380px;
    width: 260px;
    
}

.conteudoPrincipal{
    display: flex;
    margin-top: 30px;
    justify-content: center;
  
  text-align: center;

}


.conteudoPrincipal div {
    margin-left: 92px;
}


.conteudoEsquerdo{
    height: 380px;
    width: 260px;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #2c3e50;
}

.myButton {
    padding: 20px 20px;
    border:10px;
    border-radius: 25px;
    margin-top: 40px;
    background-color: #3498db;
    font-weight:bold;

}