<main>

    <div class="conteudoInferior">
        <div class="conteudoInferior2">
            <div class="conteudoCentral">
                <h1>Ferramentas para emagrecer </h1>
            </div>
            <div>
                <h3> Tentando perder peso, tonificar, baixar o IMC ou investir na sua saúde geral? Nós lhe damos as
                    características certas para atingir seus objetivos. </h3>
            </div>
        </div>
    </div>


    <div class="conteudoCentro">
        <div>
            <h1>Aprender. Pista. Melhorar.
            </h1>
            <h3>
                Manter um diário alimentar ajuda você a entender seus hábitos e aumenta sua probabilidade de atingir
                seus objetivos.
            </h3>
        </div>
        <div>
            <h1>Registro simplificado
            </h1>
            <h3>
                Digitalize códigos de barras, salve refeições e receitas e use ferramentas rápidas para rastreamento de
                alimentos rápidos e fáceis. </h3>
        </div>
        <div>
            <h1>Mantenha-se motivado
            </h1>
            <h3>
                Junte-se à Maior Comunidade de Fitness do Mundo para conselhos, dicas e suporte 24 horas por dia, 7
                horas por semana.</h3>
        </div>
    </div>

    <div class="meuBotao"> <button class="buttoninferior">COMECE SUA JORGADA</button>  </div>
    

</main>