<header>
    <nav class="navSuperior">
        <a href="/" class="logo">Caloric</a>
        <div class="logoEsquerda">
            <a href="/" class="logo">Entrar</a>
            <a href="/" class="logo">Registre-se</a>
        </div>
    </nav>

<nav class="navInferior"> 

<div>
    <a href="/" class="logo">Sobre</a>
    <a href="/" class="logo">Alimento</a>
    <a href="/" class="logo">Exercicio</a>
    <a href="/" class="logo">Aplicativos</a>
    <a href="/" class="logo">Comunidade</a>
    <a href="/" class="logo">Blog</a>
    <a href="/" class="logo">Premiun</a>

</div>

</nav>

</header>